.title {
    font-size: 500%;
    color: black;
    text-align: center;
    line-height: .05;
  }
  
  .description {
    font-size: 100%;
    font-style: italic;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
  }

  .flex-container{
    display: flex;
    justify-content: center;
  }

  .sketch {
    height: auto;
    width: 80%;
  }
  
  .section-title {
    font-size: 220%;
    text-align: center;
    line-height: .02;
  }

  .questions {
    margin-left: 15%;
    margin-right: 15%;
  }

  .interview-question {
    font-size: 100%;
    font-weight: bold;
    text-align: left;
    line-height: 1.75;
  }

  .answer-title {
    font-size: 100%;
    font-style: italic;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
  }

  .answer {
    font-size: 90%;
    margin-left: 10%;
    margin-right: 18%;
    text-align: left;
  }
  
  .persona {
    height: auto;
    width: 50%;
  }

  .storyboard {
    height: auto;
    width: 160%;
  }

  .center {
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    align-items: center;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .flex-container{
      display: flex;
      flex-direction: column; 
    }
    
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
  
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {}