/* Put your style information here! */

/* Navbar */
.topnav {
    overflow: hidden;
    margin: 8vh 5vw 5vh 5vw;
    width: 85vw;
}

.home {
    float : left;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 49px;
}

.otherlinks{
    display: flex;
    flex-wrap: wrap;
    float: right;
    align-content: space-between;
    padding-top: 1vh;
}

.otherlinks a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 30px;
    padding-left: 5vh;
}

/* Body */

.main{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.content {
    width:80vw;
    display: flex;
    align-self: center;
    justify-content: center;
    flex-direction: column;
}

.headerimg{
    align-self: center;
    width: 55%;
} 

.title h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    text-align: center;
    margin-bottom: 0vh;
}

.title h3{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    margin-top: 1vh;
    text-align: center;
}

.textsect img{
    width:100%;
    align-self: center;
}

.textsect{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.textsect h4{
    float: left;
    font-family: Roboto;
    font-style: normal;
    font-weight: 350;
    font-size: 25px;
    line-height: 47px;
    margin: 0vh;
    margin-top: 2%;
    /* identical to box height */

    color: #ED5819;
}

.textsect p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    /* or 136% */
    
    letter-spacing: 0.03vh;
    line-height: 3.5vh;
    
    color: #4e4e4E;
}

.greytitle{
    font-family: Roboto;
    font-style: normal;
    font-weight: 350;
    font-size: 22px;
    margin-top: 2%;
    margin-bottom: 0;
/* identical to box height */


    color: #858181;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2vh;
}
.responsebox{
    max-width: 25%;
    background-color: #F4F3F3;
    padding: 2vw;
    margin: 1vw;
}
.responsebox p{
    font-size: 16px; 
    line-height: 24px;
}

.color {
        color: #ED5819;
        font-size: 18px;
        font-family: Montserrat;
        margin: 0%;
}



@media screen and (max-width: 800px) {
    /* Navbar */
    .topnav{
        margin: 30px;
    }
    .home {
        padding-left: 10px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
    }
    .otherlinks a{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        padding-left: 5vh;
    }

/*Content*/
    .title h1{
        font-size: 24px;
    }
    
    .title h3{
        font-size: 18px;
    }

    .textsect h4{
        font-size: 20px;
        line-height: 30px;
    
        color: #ED5819;
    }

    .responsebox{
        max-width: 80%;
    }

    .textsect p{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        /* or 136% */
        
        letter-spacing: 0.03vh;
        line-height: 3vh;
        
        color: #4e4e4E;
    }

    .responsebox{
        padding-left: 4vw;
        padding-right: 4vw;
    }

    .greytitle {
        font-size: 18px;
    }


}

@media screen and (max-width: 450px) {
    /* Navbar */
    .topnav{
        margin: 15px;
    }
    .home {
        padding-left: 5vw;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
    }
    .otherlinks a{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 30px;
        padding-left: 5vw;
    }
/*Content*/
    .title h1{
        font-size: 20px;
    }
    
    .title h3{
        font-size: 14px;
    }

    .textsect h4{
        font-size: 18px;
        line-height: 25px;
    
        color: #ED5819;
    }

    .row{
        flex-direction: column;
        align-items: center;
    }
    .responsebox{
        max-width: 100%;
    }

    .textsect p{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        /* or 136% */
        
        letter-spacing: 0.03vh;
        line-height: 3vh;
        
        color: #4e4e4E;
    }
    .responsebox{
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    .color{
        font-size: 16px;
    }

    .greytitle {
        font-size: 16px;
    }
}

@media screen and (min-width: 1600px) {
    /* Navbar */
    .home {
        padding-left: 5vw;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 50px;
    }
    .otherlinks{
        padding-top: 1vh;
    }
    .otherlinks a{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 35px;
        line-height: 30px;
        padding-left: 3vw;
    }

    .title h1{
        font-size: 70px;
    }
    
    .title h3{
        font-size: 50px;
    }

    .textsect h4{
        font-size: 50px;
        line-height: 60px;
    
        color: #ED5819;
    }

    .textsect p{
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        /* or 136% */
        
        letter-spacing: 0.03vh;
        line-height: 3vh;
        
        color: #4e4e4E;
    }

    .greytitle {
        font-size: 40px;
    }

    .color {
        font-size: 35px;
    }
}